@using SISMA.Core.Models.StatReport
@using SISMA.Infrastructure.Constants
@model FilterStatReportVM
@{
    var entityLabel = ViewBag.IntegrationLabel;
    ViewData["Title"] = "Статистически отчети " + ViewBag.IntegrationLabel;
    ViewBag.MenuItemValue = $"nomstatreport{Model.IntegrationId}";
}

@section chelp{
    @if(Model.IntegrationId == NomenclatureConstants.Integrations.EISS){
        <partial name="_ContextHelp" model="@(new ContextHelpVM($"Модул Управление - Меню Статистически отчети {entityLabel}","006_reportindex"))" />
    }else{
        <partial name="_ContextHelp" model="@(new ContextHelpVM($"Модул Управление - Меню Статистически отчети {entityLabel}","007_reportindex_1"))" />
    }
}
<fieldset class="filter-form">
    <legend>Търсене</legend>
    @Html.HiddenFor(x=>x.IntegrationId)
    <div class="row">
        <div class="col-md-3">
            @Html.EditorFor(x=>x.ReportCategoryId,"GenericDropDown")
        </div>
        <div class="col-md-3">
            @Html.EditorFor(x=>x.CatalogId,"GenericDropDown")
        </div>
        <div class="col-md-3">
            @Html.EditorFor(x=>x.ReportTypeId,"GenericDropDown")
        </div>
        <div class="col-md-3">
            @Html.EditorFor(x=>x.Label)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-left pb-15">
            <button type="button" class="btn btn-primary" id="btnFilter" onclick="loadData();return false;" value="Филтриране" title="Филтриране">
                Филтриране
                <i class="fa fa-search" title="Търсене"></i>
            </button>
        </div>
    </div>
</fieldset>

<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="ReportAdd" asp-route-integrationId="@Model.IntegrationId" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i>
            Добави
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
<script>
    $(function () {
        

         $(document).on('click', '.orderButton', function(sender){
            postDataTablesOperation(sender,'@Url.Action("Report_ChangeOrder")',table);
        });
    });

    function loadData(){
        if (!checkFilterFormHasData('.filter-form')) {
            swalOk('Въведете стойност в поне един филтър.', function () { });
            return false;
        }

        if ($.fn.dataTable.isDataTable('#mainTable')) {
            refreshTable('#mainTable');
        }
        else {
        var table = $('#mainTable').DataTable({
            ajax: {
                "url": "@Url.Action("Report_LoadData")",
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.filter = {
                        IntegrationId:$('#IntegrationId').val(),
                        ReportCategoryId:$('#ReportCategoryId').val(),
                        CatalogId:$('#CatalogId').val(),
                        ReportTypeId:$('#ReportTypeId').val(),
                        Label:$('#Label').val()
                    }
                }
            },
             filter:false,
             sort:false,
            columns: [
                {
                    name: 'categoryName',
                    data: 'categoryName',
                    title: 'Категория'
                },
                {
                    name: 'catalogName',
                    data: 'catalogName',
                    title: 'Каталог'
                },
                {
                    name: 'reportTypeName',
                    data: 'reportTypeName',
                    title: 'Вид отчет'
                },
                {
                    name: 'label',
                    data: 'label',
                    title: 'Наименование'
                },
                {
                    name: 'dateStart',
                    data: "dateStart",
                    title: 'Валиден от',
                    className: "text-center",
                    "render": function (value) {
                        return JsonBGdate(value);
                    }
                },
                {
                    name: 'actions',
                    data: "id",
                    title: "",
                    sortable: false,
                    searchable: false,
                    className: "text-center noExport",
                    "render": function (value) {
                        return TemplateToHtml('#templateEdit', value);
                    }
                }
            ]
        });
        }
    }
</script>

<script id="templateEdit" type="text/x-handlebars-template">
    <a href="#" data-id="{{this}}" data-moveUp="true" class="orderButton btn btn-info btn-sm" title="Нагоре"><i class="fa fa-angle-up"></i></a>
    <a href="#" data-id="{{this}}" data-moveUp="false" class="orderButton btn btn-primary btn-sm" title="Надолу"><i class="fa fa-angle-down"></i></a>
    <a href="@Url.Action("ReportEdit")/{{this}}" class="btn btn-warning btn-sm" title="Редактирай"><i class="fa fa-edit"></i><span class="d-none d-lg-inline"> Редактирай</span></a>
</script>
}
